package components

templ AboutMe() {
    <section>
        <article>
            <h3>Zach Palmer</h3>
            <p><span>Software Engineer</span></p>
            <ul>
                <li>Go</li>
                <li>Python</li>
                <li>Java</li>
                <li>SQL</li>
                <li>Postgres</li>
                <li>MongoDB</li>
            </ul>
        </article>
    </section>
    <section>
        @components.Schedule()
    </section>
}