package components
import "github.com/a-h/templ"

templ ContactMe() {
    <article>
        <ul>
            <li>zachpalmer1017@gmail.com</li>
            <li>618-208-9496</li>
        </ul>
    </article>
}